<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GRAPE</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,300,100' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/animate.css" type="text/css">
	<link href="css/hover.css" rel="stylesheet" media="all">

</head>

<body>
    <nav class="navbar navbar-default center">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
					<a href="/" class="pull-left nav-brand"><img style="width: 150px;height:50px;" src="img/grapelogo.png"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse center" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a data-toggle="modal" data-target="#addmodal">ADD GRAPES</a></li>
		        <li class="active"><a href="data">GRAPES</a></li>
						<li><a href="reflection">REFLECTION</a></li>
						<li><a href="streak">STREAK</a></li>
						<li><a href="challenge">CHALLENGE</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

	<div class="container">
		<div class="text-center">
			<div class="recentDataTitle animated zoomIn">
				YOUR GRAPE DATA
			</div>

			<div class="btn-group" data-toggle="btns">
			  <button class="btn btn-lg btnTab" href="#daily" data-toggle="tab">DAILY</button>
			  <button class="btn btn-lg btnTab" href="#weekly" data-toggle="tab">WEEKLY</button>
			  <button class="btn btn-lg btnTab" href="#monthly" data-toggle="tab">MONTHLY</button>
			</div>
			<br><br>
			<div class="tab-content">
			  <div class="tab-pane active" id="daily">
						<div class="container">
							<div id="week" class="animated zoomIn chart"></div>
						</div>


						<div class="btn-group" data-toggle="btns">
						  <button class="btn btn-lg btnTab1" href="#YOURSDAY" data-toggle="tab">YOURS</button>
						  <button class="btn btn-lg btnTab1" href="#OTHERSDAY" data-toggle="tab">OTHERS</button>
						</div>

						<div class="tab-content">
							<div class="tab-pane active" id="YOURSDAY">
								<div class="col-md-12">
									<br>
									<div id="recentData" class="animated zoomIn">
										<ul>
											{{#each yourkinderact}}
											<li class="{{btn-id}}">
												<button type="button" class="btnRecent hvr-shrink" data-toggle="modal" data-target="#{{datamodal}}">
															{{act}}
													</button>
											</li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="OTHERSDAY">
								<div class="col-md-12">
									<div class="recentDataTitle animated zoomIn">
										OTHER GRAPES
									</div>
									<div id="recentData" class="animated zoomIn">
										<ul>
											{{#each otherkinderact}}
											<li class="{{btn-id}}">
												<button type="button" class="btnRecent hvr-shrink" data-toggle="modal" data-target="#{{datamodal}}">
															{{act}}
													</button>
											</li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<button type"button" class="add-btn" data-toggle="modal" data-target="#addmodal">+</button>

				</div>

			  <div class="tab-pane" id="weekly">
					<div class="container">
						<div id="month" class="animated zoomIn chart"></div>
					</div>

					<div class="btn-group" data-toggle="btns">
					  <button class="btn btn-lg btnTab1 active" href="#YOURSWEEK" data-toggle="tab">YOURS</button>
					  <button class="btn btn-lg btnTab1" href="#OTHERSWEEK" data-toggle="tab">OTHERS</button>
					</div>

					<div class="tab-content">
						<div class="tab-pane active" id="YOURSWEEK">
							<div class="col-md-12">
								<div class="recentDataTitle animated zoomIn">
									YOUR GRAPES
								</div>
								<div id="recentData" class="animated zoomIn">
									<ul>
										{{#each yourkinderact}}
										<li class="{{btn-id}}">
											<button type="button" class="btnRecent hvr-shrink" data-toggle="modal" data-target="#{{datamodal}}">
														{{act}}
												</button>
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="OTHERSWEEK">
							<div class="col-md-12">
								<div class="recentDataTitle animated zoomIn">
									OTHER GRAPES
								</div>
								<div id="recentData" class="animated zoomIn">
									<ul>
										{{#each otherkinderact}}
										<li class="{{btn-id}}">
											<button type="button" class="btnRecent hvr-shrink" data-toggle="modal" data-target="#{{datamodal}}">
														{{act}}
												</button>
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
				    </div>

						<button type"button" class="add-btn" data-toggle="modal" data-target="#addmodal">+</button>

				</div>

			  <div class="tab-pane" id="monthly">

					<div class="container">
						<div id="year" class="animated zoomIn chart"></div>
					</div>

					<div class="btn-group" data-toggle="btns">
					  <button class="btn btn-lg btnTab1 active" href="#YOURSMONTH" data-toggle="tab">YOURS</button>
					  <button class="btn btn-lg btnTab1" href="#OTHERSMONTH" data-toggle="tab">OTHERS</button>
					</div>

					<div class="tab-content">
						<div class="tab-pane active" id="YOURSMONTH">
							<div class="col-md-12">
								<div class="recentDataTitle animated zoomIn">
									YOUR GRAPES
								</div>
								<div id="recentData" class="animated zoomIn">
									<ul>
										{{#each yourkinderact}}
										<li class="{{btn-id}}">
											<button type="button" class="btnRecent hvr-shrink" data-toggle="modal" data-target="#{{datamodal}}">
														{{act}}
												</button>
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="OTHERSMONTH">
							<div class="col-md-6">
								<div class="recentDataTitle animated zoomIn">
									OTHER GRAPES
								</div>
								<div id="recentData" class="animated zoomIn">
									<ul>
										{{#each otherkinderact}}
										<li class="{{btn-id}}">
											<button type="button" class="btnRecent hvr-shrink" data-toggle="modal" data-target="#{{datamodal}}">
														{{act}}
												</button>
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>

				    </div>

						<button type"button" class="add-btn" data-toggle="modal" data-target="#addmodal">+</button>

			</div>


		</div>
	</div>

    <!-- THIS IS FOR THE HELP BUTTON -->
    <div class="row" id="fixedbutton">
    	<span class="glyphicon glyphicon-question-sign animated slideInUp clickable" aria-hidden="true" data-toggle="modal" data-target="#helpModal"></span>
  	</div>

		{{#each yourkinderact}}
	  	  <div class="modal fade" id="{{datamodal}}" role="dialog">
	        <div class="modal-dialog">
	          <!-- Modal content -->
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal">&times;</button>
	              <div id="act">
		              <h4 class="modal-title">{{act}}</h4>
									<h3 class="small">Click on text to edit description or rating.</h3>
	          	  </div>
	            </div>
	            <div class="modal-body">
								<h5><b>Category</b><br></h5>
		              <div contenteditable="true">
		              	<h5>{{category}}</h5>
		          	  </div>
	              <h5><b>Description</b><br></h5>
		              <div contenteditable="true">
		              	<h5>{{description}}</h5>
		          	  </div>
		              <h5><b>  Your Grape Rating: </b>
									<div contenteditable="true"><h5>{{rating}}<br></h5></div>
		          </div>
	            <div class="modal-footer text-center">
	            	<div class="remove" id="delete-btn">
	            		<button type="button" class="btn" data-dismiss="modal">Delete</button>
	            	</div>
								<button type="button" class="btn" data-dismiss="modal">Save Changes</button>
	            </div>
	        </div>
	      </div>
			</div>
		{{/each}}
		{{#each otherkinderact}}
				<div class="modal fade" id="{{datamodal}}" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content -->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<div id="act">
									<h4 class="modal-title">{{act}}</h4>
									<h3 class="small">Click on text to edit description or rating.</h3>
								</div>
							</div>
							<div class="modal-body">
								<h5><b>Category</b><br></h5>
		              <div contenteditable="true">
		              	<h5>{{category}}</h5>
		          	  </div>
								<h5><b>Description</b><br></h5>
									<div contenteditable="true">
										<h5>{{description}}</h5>
									</div>
									<h5><b>  Your Grape Rating: </b>
									<div contenteditable="true"><h5>{{rating}}<br></h5></div>
							</div>
							<div class="modal-footer">
        				<div class="remove" id="delete-btn">
        					<button type="button" class="btn" data-dismiss="modal">Delete</button>
        				</div>
								<button type="button" class="btn" data-dismiss="modal">Save Changes</button>
        			</div>
					</div>
				</div>
			</div>
		{{/each}}


		<!-- Modal -->
<div class="modal fade" id="addmodal" role="dialog">
<div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">add grape</h4>
		</div>
		<div class="modal-body">
			<form id="other-form" role="form" method="get" action="/data">
				<div class="form-group">
					<label for="YouOrOthers">Is this good deed for yourself or others?</label>
					<div class="radio-btns">
						<label class="radio-inline"><input id="yourradio" type="radio" name="yourradio">Yourself</label>
						<label class="radio-inline"><input id="otherradio" type="radio" name="otherradio">Others</label>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">what did you do?</label>
					<input type="text" class="form-control" id="whatyoudoO" name="whatyoudoO" placeholder="Ex. Paid for Bobby's lunch.">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">description</label>
					<textarea class="form-control" id="howyoufeelO" name="howyoufeelO" rows="3" placeholder="Ex. I paid for Bobby's pizza today while he went to the bathroom. The smile on his face said it all."></textarea>
				</div>
				<div class="form-group">
					<label for="category">What kind of grape was it?</label>
					<select class="form-control" name="category" id="category">
						<option>Love</option>
						<option>Compassion</option>
						<option>Time</option>
						<option>Energy</option>
						<option>Charity</option>
						<option>Health</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleTextarea">how grape did you feel?</label>
					<input type="range" name="ratingO" min="0" max="10" value="0" steps="1" onchange="showValueOther(this.value)"/>
					<span>0</span><span style="float:right;">10</span>
					<div class="row">
						<p style="color:black;font-size:12pt;">You feel <span id="rangeo">0</span> grape on a scale of 10.</p>
					</div>
				</div>
				<input type="submit" class="btn btn-lg" value="Submit"/>
			</form>
		</div>
	</div>

</div>
</div>
<!-- END MODAL -->


      <div class="modal fade" id="helpModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
              <h5><b>Your Grapes</b><br></h5>
              <h5>Here is where you can see your <b>Grapes</b> for today, as well as visual representations of all your <b>Grapes</b>. If you want to go back and see the <b>Grape</b> you performed for a particular day, week, or month, click on the graphs to see the data you recorded!</h5>

            </div>
	            <div class="modal-body">
	              <h4>If you have any more questions, feel free to email us at grape@grapeness.com</h4>
	            </div>
          	</div>

        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="js/data.js"></script>
		<script src="js/index.js"></script>

	</body>
</html>
